<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'SkyBlog - Stories That Matter'}) %>
<body class="antialiased text-gray-800">

    <%- include('./partials/navbar.ejs') %>

    <main>
        <%- include('./partials/hero.ejs') %>
        <%- include('./partials/categories.ejs') %>
        <%- include('./partials/featured.ejs') %>
        <%- include('./partials/latest.ejs') %>
        <%- include('./partials/newsletter.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>

</body>
</html>